/*
	Theme Name: Valamar blog
	Theme URI: http://mweb.rs
	Description: MWEB wordpress template
	Version: 1.0.0
	Author: Marko Milic (@marcomilic)
	Author URI: http://marcomilic.com
	Tags: HTML5, CSS3, WP

	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/


/*------------------------------------*\
    MAIN file
\*------------------------------------*/


/* global box-sizing */

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}


/* html element 62.5% font-size for REM use */

html {
    font-size: 62.5%;
}

body {
    font: 400 11px/1.4 'Open Sans', sans-serif;
    color: #444;
}


/* clear */

.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #444;
}

a:focus {
    outline: 0;
}

a:hover,
a:active {
    outline: 0;
}

input:focus {
    outline: 0;
    border: 1px solid #04A4CC;
}


/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/


/* Buttons */

.btn {
    color: #fff!important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    background-color: #d7b26a;
    padding: 5px 33px;
}

.btn:hover {
    opacity: 0.8;
}

.btn.center {
    display: table;
    margin: 0 auto 20px auto;
}


/* wrapper */

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}


/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.69);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.69)), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.69) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
}

.hamburger {
    float: right;
    padding-top: 20px;
    transition: 0.5s all;
}

.hamburger .nav-icon {
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.hamburger .nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    opacity: 1;
    left: 0;
}

.hamburger .nav-icon span:nth-child(1) {
    top: 0px;
}

.hamburger .nav-icon span:nth-child(2) {
    top: 9px;
}

.hamburger .nav-icon span:nth-child(3) {
    top: 18px;
}


/* Footer */

footer h2.follow {
    color: #295080;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 4.8px;
    text-align: center;
    margin-bottom: 30px;
}

.valamar-sm {
    width: 100%;
    max-width: 560px;
    margin: 0 auto 60px auto;
    display: table;
}

.valamar-sm ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.valamar-sm ul li {
    color: #295080;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    float: left;
    margin-right: 30px;
}

.valamar-sm ul li a {
    color: #295080;
}

.valamar-sm ul li a img {
    margin-right: 10px;
}

footer .footer-logo {
    display: table;
    margin: 0px auto 47px auto;
    transition: 0.5s all;
}

footer .footer-logo:hover {
    opacity: 0.7;
}

footer .copyright {
    text-align: center;
    color: #6a80bc;
    font-size: 14px;
    margin-bottom: 21px;
}

footer .instagram-widget {
    margin-bottom: 40px;
}

footer .footer-menu {
    margin-bottom: 42px;
}

.footer-menu ul {
    margin: 0 auto;
    display: table;
    padding: 0;
    list-style: none;
}

.footer-menu ul li {
    margin: 0 16px;
    float: left;
    text-transform: uppercase;
    color: #295080;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.39px;
}

.footer-menu ul li a {
    color: #295080;
}

.valamar-mainsite {
    display: table;
    margin: 0 auto 27px auto;
}

.valamar-mainsite a {
    color: #6a80bc;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.39px;
    display: table;
}

.valamar-brands {
    width: 100%;
    min-height: 203px;
    background-color: #295080;
    padding-top: 60px;
}

.valamar-brands ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.valamar-brands ul li {
    width: 20%;
}

.valamar-brands ul li img {
    display: table;
    margin: 0 auto;
}

.newsletter-footer {
    display: table;
    margin: 0 auto 50px auto;
    width: 100%;
    max-width: 390px;
}

.newsletter-footer h2 {
    color: #d7b26a;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 4.8px;
    text-align: center;
    margin-bottom: 30px;
}

.newsletter-footer .text-input {
    margin-bottom: 13px;
}

.newsletter-footer .text-input input {
    width: 384px;
    height: 46px;
    border: 1px solid #295080;
    padding: 10px 20px;
    color: #295080;
    font-size: 16px;
}

.newsletter-footer .text-input input::placeholder {
    color: #295080;
}

.newsletter-footer .button {
    width: 168px;
    height: 33px;
    background-color: #295080!important;
    color: #fff;
    display: table;
    margin: 0 auto;
    border: none;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.newsletter-footer .input-group ul {
    list-style: none;
    margin: 0 auto 33px auto;
    display: table;
    padding: 0;
}

.newsletter-footer .input-group input {
    width: 22px;
    height: 21px;
    border: 1px solid #295080;
    margin-right: 10px;
}

.newsletter-footer .input-group label {
    color: #295080;
    font-size: 12px;
    font-weight: 400;
}

#mc_embed_signup div.mce_inline_error {
    color: #6B0505!important;
    font-weight: normal!important;
    background-color: transparent!important;
}


/* Home category cards */

.card-slider {
    position: relative;
    height: 100%;
}

.card-slider .owl-stage-outer,
.card-slider .owl-stage,
.card-slider .owl-item,
.card-slider .card-item {
    height: 100%;
}

.card-slider .card-item {
    background-size: cover;
    background-position: center center;
}

.card-slider .card-destination {
    background-image: url(images/card-destinations.jpg);
}

.card-slider .card-experiences {
    background-image: url(images/card-experiences.png);
}

.card-slider .card-events {
    background-image: url(images/card-events.png);
}

.card-slider .card-item a {
    display: table;
    width: 100%;
    height: 100%;
}

.card-slider .card-item a:hover {
    text-decoration: none;
}

.card-slider .card-item .card-title {
    border: 1px solid #d7b26a;
    background-color: #ffffffe6;
    display: table;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.card-slider .card-item .card-title h2 {
    color: #295080;
    font-family: "Super Natural - Demo";
    font-size: 101px;
}


/* Latest news section*/

.section-wave-title {
    text-transform: uppercase;
    text-align: center;
    display: table;
    margin: 0 auto;
    color: #d7b26a;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom: 20px;
}

.section-wave-title:after,
.section-wave-title:before {
    content: url(images/wave-gold.png);
    width: 144px;
    height: 22px;
    margin-left: 30px;
    margin-right: 30px;
}


/*** News item layout ***/

.news-item {
    position: relative;
    margin-bottom: 30px;
}

.news-item .item-content {
    position: absolute;
    bottom: 24px;
    right: 24px;
    left: 24px;
}

.content-box {
    border: 1px solid #d7b26a;
    background-color: #ffffffe6;
    padding: 22px 12px;
}

.content-box .news-cat {
    color: #d7b26a;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
}

.content-box h3 {
    color: #295080;
    font-size: 24px;
    font-weight: bold;
}

.content-box .post-meta {
    font-size: 12px;
    font-weight: 400;
}

.content-box .post-date {
    color: #d7b26a;
    float: left;
    margin-right: 9px;
}

.content-box .reading-time {
    color: #295080;
    letter-spacing: 0.24px;
}

.content-box .reading-time img {
    margin-right: 9px;
    position: relative;
    top: -4px;
}


/*** News item reguler layout ***/

.news-item-regular {
    margin-bottom: 30px;
}

.news-item-regular .featured-image {
    margin-bottom: 30px;
}

.news-item-regular .news-cat {
    color: #d6b16a;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2.8px;
}

.news-item-regular h3 {
    color: #295080;
    font-size: 24px;
    font-weight: bold;
}

.news-item-regular h3 a {
    color: #295080;
}

.news-item-regular .post-meta {
    font-size: 12px;
    font-weight: 400;
}

.news-item-regular .post-date {
    color: #d7b26a;
    float: left;
    margin-right: 9px;
}

.news-item-regular .reading-time {
    color: #295080;
    letter-spacing: 0.24px;
}

.news-item-regular .reading-time img {
    margin-right: 9px;
    position: relative;
    top: -4px;
}


/* While in Croatia section*/

.section.while-in-croatia {
    background-image: url(images/bg-sea.jpg);
    background-size: cover;
    background-position: center center;
}

.wic-box {
    background-color: #ffffffe6;
    width: 100%;
    max-width: 588px;
    display: block;
    margin: 0 auto;
    padding: 24px;
}

.wic-box .inner-box {
    border: 1px solid #d7b26a;
    padding: 24px;
}

.wic-box h2 {
    color: #d7b26a;
    font-family: "Super Natural - Demo";
    font-size: 64px;
    text-align: center;
}

.wic-box .wic-item h3 {
    color: #295080;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.wic-box .wic-item p {
    color: #6d6e71;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 37px auto;
}


/* Featured posts*/

.featured-post {
    margin-bottom: 20px;
    position: relative;
}

.featured-post .content-box {
    position: absolute;
    width: 100%;
    max-width: 588px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.featured-post .content-box p {
    color: #6d6e71;
    font-size: 16px;
    font-weight: 400;
}

.small-post-item img {
    margin-bottom: 16px;
}

.small-post-item h3 {
    color: #295080;
    font-size: 20px;
    font-weight: 700;
}

.small-post-item h3 a {
    color: #295080;
}


/* Trivia section*/

.section.trivia {
    background-image: url(images/bg-sea-sun.jpg);
    background-size: cover;
    background-position: center center;
}


/* Take a look section*/

.section.take-a-look .featured-post {
    position: relative;
    float: right;
}

.section.take-a-look .content-box {
    position: relative;
    display: table;
    left: 0;
    top: -80px;
    width: 100%;
    max-width: 1020px;
    padding: 48px 78px;
}

.section.take-a-look .content-box h3 {
    color: #295080;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 700;
    max-width: 440px;
}

.section.take-a-look .content-box p {
    color: #6d6e71;
    font-size: 18px;
    font-weight: 400;
}


/* Testimonials section*/

.testimonials-box {
    border: 1px solid #d7b26a;
}

.testimonials-box h2 {
    color: #295080;
    font-family: "Super Natural - Demo";
    font-size: 96px;
    display: table;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    top: -50px;
    padding: 0 50px;
}

.testimonials-items p {
    color: #6d6e71;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.testimonials-items .t-name {
    color: #d7b26a;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}


/* Page */

.page-hero {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.page-hero.destinations {
    background-image: url(images/dump-images/hero-desitnations.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-hero .hero-title {
    background-color: #fff;
    border: 1px solid #d6b16a;
}

.page-hero .hero-title h1 {
    color: #295080;
    font-family: "Super Natural - Demo";
    font-size: 101px;
    position: relative;
    top: 18px;
    line-height: 95px;
    padding: 0 20px;
}


/*------------------------------------*\
    PAGES
\*------------------------------------*/


/*------------------------------------*\
    IMAGES
\*------------------------------------*/


/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
    font-family: 'Super Natural - Demo';
    src: url('fonts/SUPER_NATURAL_-_DEMO.TTF');
    font-weight: normal;
    font-style: normal;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {}

@media only screen and (min-width:480px) {}

@media only screen and (min-width:768px) {}

@media only screen and (min-width:1024px) {}

@media only screen and (min-width:1140px) {}

@media only screen and (min-width:1280px) {}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),
only screen and (min-resolution:144dpi) {}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-webkit-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}

::-moz-selection {
    background: #04A4CC;
    color: #FFF;
    text-shadow: none;
}


/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #FFF;
    border: 1px solid #F0F0F0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption .wp-caption-text,
.gallery-caption {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}


/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}